.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #006d8e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mailInputContainer > input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f7f7f7;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mailInputContainer > button {
  height: 50px;
  width: 150px;
  background-color: #ffa000;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mailInputContainer > button:hover {
  background-color: #ffca28;
}

